best.o
first.o
mem_node.o
memswap.o
next.o
queue.o
utilities.o
worst.o
*.[txt]
my200_best.txt
my200_first.txt
my200_next.txt
my200_worst.txt
my300_best.txt
my300_first.txt
my300_next.txt
my300_worst.txt
report.txt
test1.txt
test_input.txt
test_output.txt
auto.rb
create_input.rb
given_input.rb
run2.rb
run.rb
scrap.rb
